*{
    box-sizing: border-box;
}
    @font-face {
    font-family: 'Proxima Nova Regular';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Regular.woff') format('woff'),
    url('../fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'Proxima Nova Regular',sans-serif;
    font-size: 15px;
    line-height: 24px;
    background-color: #626161;;
}
a{
    text-decoration: none;
    color: inherit;
}
.logo{
	padding-bottom: 160px;
}

.header{
    background-image: url("../images/header_bgnew.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 1015px;
}
 .container{
	 
     max-width: 1920px;
     margin: 0 auto;
     padding: 73px 140px;
 }
 .container__footer{
	 position: relative;
	 max-width: 1920px;
     margin: 0 auto;
     padding: 73px 140px;
 }
  .header__top{
	 display: flex;
	 flex-direction: column;
     justify-content: space-between;
     height: 100px;
     align-items: center;
 }
 .menu__list{
	 display:flex;
	 flex-direction: column;
 }
 .menu__list li+li {
	 padding-top: 50px;
	 z-index: 3;
	 
 }
  .menu__list  a{
	
	display: block;
	padding: 3px 0;
	border-radius: 9px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: #FCF2F2;
	width: 248px;
	font-weight: 300;
	font-size: 28px;
	line-height: 34px;
	text-align: center;
 }
 .menu__list a:hover{
    opacity: 1;
 }
 .menu{
	 display: none;
 }
 .menu__btn{
	margin-bottom: 29px;
	display: block;
	text-align: left;

 }
 .header__center{
	position: absolute;
	left: 555px;
	top: 372px;
 }
 .logo__text{
	display:block;
	
	font-weight: 600;
	font-size: 120px;
	line-height: 146px;
	color: #1D1D1B;
	margin-bottom: 50px;
 }
 .subtext{
	 font-weight: normal;
	font-size: 38px;
	line-height: 48px;
	color: #FFFFFF;
 }
 .line-animation{
	stroke-dashoffset: 1400;
	stroke-dasharray: 1400;
	animation: animdash 5s infinite 6s;
}

@keyframes animdash{
	to{
		stroke-dashoffset: 0;
	}
}
.header__map{
	position: absolute;
	left: 271px;
	top: 357px;
	z-index: 1;
}
.header__picturs{
	position: absolute;
	top: 0;
	right: 0;

}

.arrow__down{
	position: absolute;
	bottom: 10px;
	right: 194px;

}
.arrow__downTwo{
		position: absolute;
		bottom: -1070px;
		right: 194px;

}
.labe__aboutUs{
	background-color: #626161;
	min-height: 1080px;
}
.about__us{
	display: block;
	width: 526px;
	position: relative;
	left: 557px;
	top: 3px;
	background: #E0D6D6;
	border-radius: 9px;
	padding: 0px 170px;
	font-weight: 400;
	font-size: 64px;
	line-height: 66px;
}
.slider{
		display: block;
		text-align: center;
		margin-top: 91px;
	&__imgz{
		position: relative;
		bottom: -120px;
		width: 445px;
		height: 393px;
		margin-left: 55px;
		margin-right: 55px;
	}
	&__img{
		width: 527px;
		height: 468px;
	}
	&__name{

		font-weight: bold;
		font-size: 36px;
		line-height: 150.3%;
		
	}
	&__namez{
		position: relative;
		bottom: -50px;
		font-weight: bold;
		font-size: 36px;
		line-height: 150.3%;
	}
	&__discription1{
		text-align: left;
		font-weight: 300;
		font-size: 24px;
		line-height: 36px;
	}
		&__discription2{
		text-align: center;
		font-weight: 300;
		font-size: 24px;
		line-height: 36px;
		position: relative;
		bottom: -120px;
	}
		&__discription3{
		text-align: right;
		font-weight: 300;
		font-size: 24px;
		line-height: 36px;
	}
}
.container__slider{
	display: flex;
	justify-content: space-between;
}
.under__footer{
	
	background-color: #009FE3;
	min-height: 1020px;
	
	&__logo{
		position: absolute;
		right: 117px;
		top: 30px;
	}
	&__text{
		font-weight: 600;
		font-size: 72px;
		line-height: 151.8%;
		color: #000000;
		width: 609px;
		display: block;
		margin-top: 70px;
	}
}

.under__footer__slider{
	display: flex;
	justify-content: space-between;
	margin-top: 150px;
}
.slider__num{
	font-weight: 800;
	font-size: 80px;
	line-height: 150.3%;
	color: #FFFFFF;
}
.slider__name{
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 150.3%;
	color: #000000;
}
.slider__discription{
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 150.3%;
	color: #000000;
}
.slider__footer{
	display: flex;
	justify-content: center;
}
.testflex{
	align-items: flex-end;
}
.under__footer__triangle{
	margin-top: 120px;
	img{
	padding-right: 53px;
	}
}
.btnOpen{
	display: block;
	position: absolute;
	top: 304px;
	left: 140px;
}